<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.kaliyev.satpreparation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sat_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sat_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GoogleLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".About" />
        <activity android:name=".SATReasoning" />
        <activity android:name=".ReadPost" />
        <activity android:name=".SATSubject" />
        <activity android:name=".Universities" />
        <activity
            android:name=".Resources"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Vocabulary" />
        <activity android:name=".WordInfo" />
        <activity android:name=".Quiz" />
        <activity android:name=".Leaderboards" />
        <activity android:name=".PracticeTests" />
        <activity android:name=".Books" />
        <activity android:name=".Download" />
        <activity android:name=".Settings" />
        <activity android:name=".GettingStarted" />
        <activity android:name=".Support"/>
    </application>

</manifest>